@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Mate:ital@0;1&display=swap');

$color1: #9f50a0;
$color2: #9276a3; 
$color3: #a2a8b4;
$color4: #b4dabe;
$color5: #dfffe1;

$titleFont: 'Josefin Sans', sans-serif;
$textFont: 'Mate', serif;

html, body {
    font-family: $textFont;
}

h1, h2, h3, h4, h5 {
    font-family: $titleFont;
}